<% title '节点导航' %>
<div id="all-nodes">

  <div class="list">
    <% @node_categories.each do |node_category| %>
        <div class="category">
          <div class="category-meta"><h3><%= node_category.name %></h3></div>
          <div class="nodes">
            <% node_category.nodes.each do |n| %>
            <%= link_to n.name, node_path(n.slug) %>
            <% end %>
          </div>
        </div>
    <% end %>

  </div>

</div>