// Place all the styles related to the node_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#all-nodes {
  .list {
    .category {
      margin-bottom: 20px;
      border-bottom: solid 1px #d0d0d0;

      .category-meta {

      }
      .nodes {
        a {
          margin-right: 20px;
        }
      }
    }
  }
}
