.avatar {
  width: 40px;
  height: 40px;
  border-radius: 5px;

  &.small {
    width: 30px;
    height: 30px;
  }

  &.tiny {
    width: 24px;
    height: 24px;
    border-radius: 3px;
  }

  &.medium {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }

  &.big {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}