.badge {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #E74C3C;
  font-size: 11px;
  //fontWeight: 'bold',
  border-radius: 8px;
  text-align: center;
  position: relative;
  top: -33px;
  left: 12px;
}