// Footer
.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #777777;
  .copyright {
    text-align: center;
  }
  .beian {
    @media screen and (max-width: 360px) {
      display: block;
      clear: both;
    }
  }
}