// Global

// Global constants
//   - Colors
$light-gray: #aaaaaa;
$text-gray: #778087;

//   - Layouts
$normal-boder: solid 1px #dddddd;

body {
//  background: #f0f0f0 asset_url("noise.gif") repeat -70% 0;
}

a {
  color: $text-gray;
  &:hover {
    color: #333;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.form-actions {
  min-height: 35px;
}

.bold {
  font-weight: bold;
}

span.time {
  color:#808080;
}

