.cat-tab {
  border-bottom: solid 1px #DDD;
  height: 31px;
  @media screen and (max-width: 539px) {
    height: 62px;
  }
  ul {
    float: left;
    display: block;
    list-style: none;
    padding-left: 0;
    li {
      display: block;
      float: left;
      margin: auto 10px auto 10px;
      &.selected {
        font-weight: bold;
      }
      a {
        font-size: 15px;
      }
    }
  }
}