.node-page {
  .node-meta {
    border-bottom: solid 1px #dddddd;
    margin-bottom: 10px;

    & > .new-topic {
      width: 70px;
      float: right;
    }

    & > .left {
      margin-right: 75px;
      width: auto;
      .node-name {
        font-weight: bold;
      }
      .node-topic-count, .node-description {
        font-size: 12px;
        color: #999999;
      }
    }
  }
}