.pen-placeholder:after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-placeholder);
  color: #999;
  cursor: text;
}

.pen, .pen-menu, .pen-input, .pen textarea {
  font: inherit;

  h2, h3 {
    margin-top: 0;
  }

  blockquote {
    margin-left: 0px;
  }
}