.navbar.navbar-custom {
  $navbar-normal-bg-color: #4A90E2;
  $navbar-active-bg-color: #0666c5;

  background-color: $navbar-normal-bg-color;
  border: none;
  border-radius: 0;

  .navbar-brand {
    color: #ffffff;
    &:hover {
      color: lightblue;
    }
  }

  .navbar-toggle {
    border-color: #ddd;
    &:hover, &:focus {
      background-color: $navbar-active-bg-color;
    }
    .icon-bar {
      background-color: #ffffff;
    }
  }

  ul.nav.navbar-nav li {
    &.active a {
      background-color: $navbar-active-bg-color;
    }
    .caret {
      border-top-color: #ffffff;
      border-bottom-color: #ffffff;
    }
    a {
      color: #ffffff;
      background-color: $navbar-normal-bg-color;
      &:hover {
        background-color: $navbar-active-bg-color;
      }
      &:focus {
        background-color: $navbar-active-bg-color;
      }
    }

    ul.dropdown-menu {
      background-color: $navbar-normal-bg-color;
    }
  }

}

