.page {

  margin: 20px auto auto auto;

  @media screen and (min-width: 1024px) {
    width: 960px !important;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 640px !important;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    margin: 0;
  }

  >.left-col {
    float: left;
     width: 640px;
     @media screen and (max-width: 767px) {
       width: 100% !important;
     }
   }

  >.right-col {
    float: left;
    margin-left: 20px;
    width: 300px;
    @media screen and (max-width: 767px) {
      width: 100% !important;
    }
  }
}