<% title '通知' %>

<div id="notifications-page">
  <div class="notifications-tabs">
    <ul id="tab-menu" class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#" role="tab" data-toggle="tab">通知</a></li>
      <li class=""><a href="<%= messages_path %>" role="tab">消息</a></li>
    </ul>
    <div id="tab-content" class="tab-content">
      <div class="tab-pane fade active in" id="tab-notifications">
        <div class="panel panel-warning">
          <div class="panel-body" id="notification-list">
            <%= render 'notifications/notification_list' %>
          </div>
        </div>

      </div>
      <div class="tab-pane fade" id="tab-messages">
        empty
      </div>
    </div>
  </div>

  <%= render_will_paginate @notifications %>
</div>
