<% content_for :sidebar do %>

      <section class="hot-today">
        <p class="section-title">今日热议</p>
        <ul>
          <li class="line-1"><a href="#">有人刷煎蛋的吗？官方客户端太丑..写了个第三方客户端。上两张图先</a></li>
          <li class="line-2"><a href="#">熬夜是不是会上瘾？</a></li>
          <li class="line-3"><a href="#">昨天去北京某某公司的“面试”经过</a></li>
          <li class="line-4"><a href="#">HTTPS 真会影响网站加载速度？</a></li>
          <li class="line-5"><a href="#">回复时候，人肉加入被回复者的内容，可倡议？</a></li>
          <li class="line-6"><a href="#">毕业工作三个月，觉得不适应，是走是留？</a></li>
          <li class="line-7"><a href="#">HTTPS 真会影响网站加载速度？</a></li>
        </ul>
      </section>

      <section class="nodes">
        <p class="section-title">
          <span>热门节点</span>
          <span class="float-right">新增节点</span>
        </p>

        <div class="list">
          <div class="hot-nodes">
            <ul>
              <li>
                <a href="#">奇思妙想</a>
                <a href="#">问与答</a>
                <a href="#">摄影</a>
                <a href="#">分享发现</a>
                <a href="#">自言自语</a>
              </li>
            </ul>

          </div>
          <div class="new-nodes">
            <ul>
              <li>
                <a href="#">买买买</a>
                <a href="#">无印良品</a>
                <a href="#">昆明</a>
                <a href="#">设计</a>
                <a href="#">乐活</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="site-statistics">
        <p class="section-title">运行状态</p>

        <p class="data">
          <span class="title">注册会员</span>
          <span class="value">10935</span>
        </p>

        <p class="data">
          <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话题</span>
          <span class="value">273560</span>
        </p>

        <p class="data">
          <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回复</span>
          <span class="value">854327</span>
        </p>

      </section>

<% end %>