# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# redis for sidekiq

redis: &redis
   redis_server: 'localhost'
   redis_port: 6379
   redis_db_num: 0
   redis_namespace: 'tzyz_sidekiq'

development:
  secret_key_base: cd22d4035b6f959c05f2c5317f2f54c94934ccd3e65a24a87d86adc1fbc6b6b51e7ab6b44b5cebfba17d03c48b08dbd3357e875a8d773e468fed670b0cdc1700

test:
  secret_key_base: 8c1117bccd053edb659de59a9e8dc3d92d8cdbb38eaff222e9ead7aebeea3902e805697036e2564440e038ab264eb0b8efa5439923ef13f20bdf7938cb47cb02

production:
  secret_key_base: cd22d4035b6f959c05f2c5317f2f54c94934ccd3e65a24a87d86adc1fbc6b6b51e7ab6b44b5cebfba17d03c48b08dbd3357e875a8d773e468fed670b0cdc1700
  <<: *redis

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
