$default-text-color: #4A4A4A;
$light-text-color: #F2F2F2;
$secondary-text-color: #656565;
$secondary-normal-color: #C2CCD2;

$button-normal-color: #E3E3E3;
$button-normal-highlight-color: #ffffff;

$card-bg-color: #FDFDFD;

$normal-border-color: #DBDBDB;
$border-bottom-color: $normal-border-color;