/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree ./components
 *= require_tree ./material_ui
 *= require_self
 */

@import "mixins/common";

body {
  background-color: #bdd7e5;
  color: $default-text-color;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 14px;
  min-width: 300px;
  height: initial;
}

// common:

a {
  color: $default-text-color;
  text-decoration: none;
  cursor: pointer;
}

.float-right {
  float: right;
}

// mobile:

.hidden-md {
  @media screen and (max-width: 1023px) {
    display: none !important;
  }
}

.hidden-sm {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.visible-md {
  @media screen and (min-width: 1024px) {
    display: none !important;
  }
}

.visible-sm {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}
