// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  margin-bottom: 15px;
  .chevron{
    font-weight: 500;
    font-family: "Lucida Grande";
  }
}

.single-topic {
  .quoted-reply-meta {
    font-size: 12px;
  }
}

// olds
.single-topic {
  // For both topic and reply:
  .avatar {
    float: left;
    padding: 10px 10px 10px 0;
    width: 55px;
    img {
      $size: 45px;
      width: $size;
      height: $size;
      border-radius: 8px;
    }
  }

  a.action {
    font-size: 12px;
    &:hover {
      text-decoration: none;
    }
  }

  .author .name {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    width: auto;
  }

  .time, .appreciation {
    color: $light-gray;
    font-size: 12px;
  }
  .appreciation {
    font-size: 10px;
    .count {
      margin: 0 5px 0;
      font-size: 11px;
    }
  }
  // [End] For both topic and reply.

  .topic {
    .meta {
      .author {
        width: auto;
        margin-right: 400px;
        .name {
          margin-left: 55px;
        }

        @media screen and (max-width: 620px) {
          width: 150px;
        }

      }
      .info {
        font-size: 12px;
        float: right;
        width: 400px;
        text-align: right;
        color: $light-gray;

        @media screen and (max-width: 435px) {
          margin-top: 10px;
          width: 150px;
          .item {
            display: none;
          }
        }

//        .node-name {
//          background-color: #F5F5F5;
//          padding: 5px;
//          border-radius: 5px;
//        }
        .time, .click, .favourite {
          margin-right: 5px;
        }
        span.reply-count {
          margin: 10px auto;
          display: inline-block;
          border: solid 1px #417505;
          border-radius: 99px;
          min-width: 20px;
          padding: 0 10px 0 10px;
          text-align: center;
          color: $text-gray;
        }
      }
    }
    .title {
      clear: both;
      h3 {
        margin-top: 0;
      }
    }
    .content {
      clear: both;
    }
  }
  .toolbar {
    margin-top: 10px;
    padding: 15px 10px 13px 20px;
    background-color: #f5f5f5;
    width: 100%;
    .item {
      display: inline-block;
      width: 60px;
      margin-right: 20px;
      &.float-right {
        margin-right: 0;
        width: 80px;
      }
    }
  }

  .replies {
    margin-top: 20px;
    .reply {
      clear: both;
      margin-bottom: 20px;
      .right-column {
        margin-left: 55px;
        .meta {
          padding-top: 10px;
          .time, .appreciation {
            margin-left: 10px;
          }
          .actions {
            width: 150px;
            float: right;
            text-align: right;
            a {
              margin-left: 10px;
            }
          }
        }

        .content {
          border-bottom: $normal-boder;
          padding-bottom: 20px;
        }
      }
    }
  }
}