// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-info-page {
  > h1, .meta {
    //    margin-left: 25px;
  }
  .avatar {
    float: right;
    img {
      border-radius: 5px;
      width: 60px;
      height: 60px;
    }
  }

  .topic-list {
    .meta {
      margin-left: 0;
      width: auto;
      .info {
        margin: 0;
        width: 100%;
      }
    }
  }

  table {
    tr {
      th, td {
        padding-bottom: 10px;
      }
      th {
        text-align: right;

        .icon {
          width: 25px;
          height: 25px;
          margin-right: 15px;
        }
      }
    }
  }
}

