<%= render 'devise/mailer/shared_header' %>

<p>您已申请重置您的密码，可以点击下面的链接以继续：</p>

<p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有申请重置密码，请忽略掉这封邮件。</p>
<p>您的密码不会被更改除非您点击上面的链接并进行操作。</p>

<%= render 'devise/mailer/shared_footer' %>
