<%= render 'devise/mailer/shared_header' %>

<p>似乎有人尝试猜测您帐号的密码，出于安全考虑，您的帐号已经被锁定。</p>

<p>请点击下面的链接以解锁您的帐号：</p>

<p><%= link_to unlock_url(@resource, unlock_token: @token), unlock_url(@resource, unlock_token: @token) %></p>

<%= render 'devise/mailer/shared_footer' %>