<% flash.each do |key, value| %>

    <div class="alert alert-<% case key when 'notice' then %>info<% else %><%= key %><% end %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
      class="sr-only">Close</span></button>
      <%= value %>
    </div>
<% end %>