<div class="footer">
  <%= cache('view-footer-statistics', expires_in: 6.hours) do %>
      <script src="https://s95.cnzz.com/stat.php?id=1253027303&web_id=1253027303" language="JavaScript"></script>
  <% end %>
  <div class="copyright">
    Copyright © 2014 滕州一中校友会 <span class="hidden-xs">tengzhouyizhong.org All Right Reserved</span>
  </div>
</div>